.hidden {
  display: none !important;
}

h3 {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-new-entries {
  padding-right: 40px;
}

.column-full,
.column-half {
  width: 100%;
}

@media screen and (width >= 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  h3 {
    padding-left: 100px;
  }

  p {
    padding-left: 100px;
  }

  .mini-titles {
    padding-left: 0;
  }

  img {
    padding-right: 200px;
  }
}
