* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
}

header {
  background-color: #4c2474;
}

.row {
  margin: 0;
  width: 100%;
}

.column {
  flex-basis: 100%;
}

.column-half {
  margin: 0;
  flex-basis: 50%;
  height: 300px;
}

.code-journal {
  color: white;
  flex-basis: 100%;
}

.mini-titles {
  padding-left: 20px;
}

#ph-image {
  height: 80%;
  justify-content: center;
  align-items: center;
}

input {
  margin-left: 20px;
  width: 400px;
  height: 35px;
  border-radius: 5px;
  border: solid;
  border-color: #b5b5b6;
  border-width: 1px;
  margin-bottom: 10px;
}
