body {
  background-color: #eee;
}

h1 {
  color: white;
}

header {
  background-color: #4c2474;
}

#title-textbox {
  width: 100%;
}

#photo-textbox {
  width: 100%;
}

.image {
  width: 100%;
}

input {
  width: 400px;
  height: 35px;
  border-radius: 5px;
  border: solid;
  border-color: #b5b5b6;
  border-width: 1px;
  margin-bottom: 10px;
}

#notes-textbox {
  height: 200px;
  width: 100%;
}

.button {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 30px;
}

#submit-button {
  width: 60px;
  height: 30px;
  border-radius: 10px;
  color: white;
  background-color: #4c2474;
  border: none;
}

ul {
  padding: 0;
}

.links {
  color: white;
  padding-left: 10px;
  font-size: 20px;
  text-decoration: none;
}

.entries-style {
  display: flex;
  align-items: center;
}

.new-entries {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-button {
  background-color: #4c2474;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: small;
  border-radius: 10px;
  text-decoration: none;
}

#entries-button {
  font-size: medium;
  color: white;
}
